<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Pharmacity Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Pharmacity Tests">
        <packages>
            <package name="com.pharmacity.tests"/>
        </packages>
    </test>
</suite>